*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar
{
    width: 100%;
    background-color: whitesmoke;
}
.navbarContainer
{
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu .mainmenu
{
    display: flex;
}
.menu .mainmenu .mainlist
{
    list-style: none;
    padding-left: 20px;
    position: relative;
}
.menu .mainmenu .mainlist a
{
    text-decoration: none;
    color: black;
}
.submenu
{
    position: absolute;
    width: 100%;
    top: 38px;
    display: none;
}
.sublist
{
    list-style: none;
    padding: 20px 0px;
}
.mainlist:hover .submenu
{
    display: block;
}